body {
    font-family: 'Lato', sans-serif;  
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2 {
    font-family: 'Roboto', sans-serif;
}

.logo_image {
    width: 400px;
}

/*.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}*/


.dropdown_menu {
    margin: 10px 0 0 0;
    display: inline-block;
    float: center;
    width: 20%;
    font-family: 'Lato', sans-serif;  
}


.btn-default {
    background-color: #75d7a1; 
    color: black;
    margin-left: 30%;
    padding-left: 25%;
    padding-right: 25%;
    display: inline;
    font-family: 'Lato', sans-serif;  
}

.footer-background {
    background-color: #75d7a1;
    color: white;
}

.results_title {
    position: absolute;
    top: 8px;
    left: 25px;
    font-weight: 500;
    font-weight: bold;
/*    text-shadow: 2px 2px #ffffff;*/
}

#block {
    background: #ffffff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
}