logo_image {
    width: 700px;
}

h1 {
    color: blue;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

h2 {
    color: rgb(67, 67, 212);
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Lato', sans-serif;  
}

p {
    font-family: 'Lato', sans-serif;  
}

.center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
}


.dropdown_menu {
    margin: 10px 0 0 0;
    display: inline-block;
    float: center;
    width: 20%;
    font-family: 'Lato', sans-serif;  
}

#searchbutton {
    background-color: rgb(192, 192, 192); 
    margin-left: 30%;
    padding-left: 25%;
    padding-right: 25%;
    display: inline;
    font-family: 'Lato', sans-serif;  
}