h1 {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.jumbotron {
    background-color: white;
}

logo_image {
    width: 700px;
}

h2 {
    color: rgb(67, 67, 212);
}


.dropdown_menu {
    margin: 10px 0 0 0;
    display: inline-block;
    float: left;
    width: 20%
}