{% extends "layout.html" %}
{% block content %}

        <div class="container">
            <div class="row">
                <h1>Search Results</h1>
                </div>
        </div> 
        <div class="container">
            <div class="row">
                <div class="col-md-5 offset-md-1">
                <ul>
                    {% for result in results %}
                        <li>
                            <strong>{{ result.museum }}</strong> | {{ result.subtitle }}
                        </li>
                    {% endfor %}     
                </ul>

        <!--Reread old code in snippets/index.html to find out how to do bootstrap 
            layout in a nice and pretty way -->
                </div>
            </div>
        </div>        


{% endblock %}

