{% extends "layout.html" %}
{% block content %}


        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 offset-md-1 text-center">
                        <img src="{{ url_for('static', filename='museumsearchlogo.svg')}}" class="logo_image">
                </div>
                <div class="col-md-5 mt-5 ml-5">
                    <h1>MuseumSearchBerlin</h1>
                    <h2>The place for museums in Berlin</h2>
                </div>  
            </div>  
        </div> 

        <div class="container">
            <div class="row">
                <h2>You searched for...</h2>
            </div>
            <div class="row mt-5 mb-3">
                <h3><strong>{X no.} results found</strong></h3>
            </div>    
            <div class="row">

                <div class="row">        
                        {% for result in results %}
                            <div class="col-md-6 mb-5 text-center">
                                <img src="{{ result.imgurl }}" class="img-fluid">
                                    <div id="block"></div>
                                <h3 class="results_title">{{ result.museum }}</h3>
                            </div>
                        {% endfor %}
                    </div>
            </div>
        </div>        


{% endblock %}

