{% extends "layout.html" %}
{% block content %}

        <div class="container-fluid">

            
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="{{ url_for('static', filename='museumsearchlogo.svg')}}" class="logo_image">
                </div>
                <div class="col-md-8 text-center mt-5 pr-5">
                    <h1>Museum Search Berlin</h1>
                    <h2>Whether you are looking for an exciting day out or a place to hide 
                        from the rain, we have the museum for you!</h2>
                    <h3 class="mt-3">How can we help you today?</h3>

                    <div class="form-group form-inline">
                        <p>I am looking for </p>
                        <select class="form-control input-lg">
                          <option value="all">All</option>
                          <option value="year">Year</option>
                          <option value="month">Month</option>
                          <option value="week">Week</option>
                          <option value="day">Day</option>
                        </select>
                        <p> that is </p>
                        <select class="form-control input-lg">
                          <option value="all">All</option>
                          <option value="year">Year</option>
                          <option value="month">Month</option>
                          <option value="week">Week</option>
                          <option value="day">Day</option>
                        </select>
                        <p> and/or is </p>
                        <select class="form-control input-lg">
                          <option value="all">All</option>
                          <option value="year">Year</option>
                          <option value="month">Month</option>
                          <option value="week">Week</option>
                          <option value="day">Day</option>
                        </select>
                        <p> where I can  </p>
                        <select class="form-control input-lg">
                          <option value="all">All</option>
                          <option value="year">Year</option>
                          <option value="month">Month</option>
                          <option value="week">Week</option>
                          <option value="day">Day</option>
                        </select>
                    </div>

                <div class="col text-center mt-5">
                    <form action="/search">
                    <button type="submit" class="btn-default">Let's go!</button>
                    </form>
                </div>
            </div>
        </div>


{% endblock %}